.inbox{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 380px;
    padding: 40px;
    border-radius: 16px;
    background-color: rgb(226, 247, 237);
}

.card-body{
    padding: 10px;
    background-color: gainsboro;
    
}